<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="common/include :: header">
    </head>
    <body>
        <div class="d-flex justify-content-center h-100">
            <div class="card" style="margin-top: 20px;">
                <div class="card-header">
                    <h3>Sign In</h3>
                </div>
                <div class="card-body">
                    <div class="alert alert-danger"
                         th:if="${error}">
                        Incorrect username or password
                    </div>
                    <form th:action="@{/auth/login}"
                          method="post">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <input type="email"
                                   class="form-control"
                                   placeholder="E-Mail"
                                   name="username">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-key"></i>
                                </span>
                            </div>
                            <input type="password"
                                   class="form-control"
                                   placeholder="password"
                                   name="password">
                        </div>
                        <div class="form-group">
                            <input type="submit"
                                   value="Login"
                                   class="btn btn-block btn-primary">
                        </div>
                    </form>
                </div>
                <div class="card-footer" th:if="${showRegistration}">
                    <div class="d-flex justify-content-center links">
                        Don't have an account? <a th:href="@{/auth/register}">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="common/include :: scripts"></div>
    </body>
</html>