<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="common/include :: header">
    </head>
    <body>
        <div th:include="home/navbar :: navbar"></div>
        <div class="full-content-container">
            <div class="card card-full">
                <div class="card-header">
                    <h4 class="card-title">
                        <span class="fa fa-key"></span>
                        Change password
                    </h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-danger"
                         th:if="${error != null}"
                         th:text="${error}">
                    </div>
                    <div class="alert alert-success"
                         th:if="${success}">
                        Password changed
                    </div>
                    <form th:action="@{/user/password}"
                          method="post">
                        <div class="row form-group">
                            <label class="col-md-4"
                                   for="current">
                                Current password:
                            </label>
                            <div class="col-md-8">
                                <input type="password"
                                       class="form-control"
                                       name="current"
                                       id="current"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-4"
                                   for="next">
                                New password:
                            </label>
                            <div class="col-md-8">
                                <input type="password"
                                       class="form-control"
                                       name="next"
                                       id="next"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-4"
                                   for="repeat">
                                Repeat new password:
                            </label>
                            <div class="col-md-8">
                                <input type="password"
                                       class="form-control"
                                       name="repeat"
                                       id="repeat"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <button type="submit"
                                        class="btn btn-block btn-primary">
                                    Change password
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div th:replace="common/include :: scripts"></div>
    </body>
</html>