<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="common/include :: header">
    </head>
    <body class="hide-scroll-y">
        <div th:include="home/navbar :: navbar"></div>
        <div class="full-content-container">
            <iframe class="application-container"
                    th:src="@{${applicationUrl}}"
                    frameborder="0">
            </iframe>
        </div>
        <div th:replace="common/include :: scripts"></div>
    </body>
</html>